{
    "trigger": "~",
    "web": {
        "url": "http://nibblr.pw",
        "port": 8888,
        "password": "powernap"
    },
    "servers": [
        {
            "address": "irc.rizon.net",
            "channels": ["#nibblr", "#livingroom"],
            "nickname": "nibblrjr",
        },
        {
            "address": "irc.furnet.org",
            "channels": ["#purple"],
            "nickname": "purple",
            "password": "milkshake".
        },
        {
            "address": "irc.freenode.net",
            "trigger": "!",
            "channels": ["#rubik2"],
            "nickname": "nibblrjr"
            "fetchURL": false,
            "colors": false
        }
    ]
}
