{
    "trigger": "~",
    "broadcastCommands": ["poker", "golf"],
    "servers": [
        {
            "address": "irc.rizon.net",
            "channels": ["#nibblr", "#poker"],
            "admins": ["Kirjava"],
            "nickname": "nibblrjr"
        },
        {
            "address": "irc.efnet.org",
            "channels": [{
                "name": "#purple",
                "lineLimit": 100
            }],
            "nickname": "purple",
            "fetchURL": false,
            "password": "milkshake"
        },
        {
            "address": "irc.libera.chat",
            "trigger": "!",
            "channels": ["#bottest"],
            "nickname": "nibblrjr",
            "colors": false
        }
    ],
    "web": {
        "url": "http://nibblr.pw",
        "port": 8888,
        "password": "powernap"
    }
}
