.main-cmds {
    overflow: hidden;
    height: calc(100% - #{$nav-height});
    display: flex;
}

.cmd-editor {
    padding: 10px;
}

.cmd-menu {
    border-radius: 5px;
    padding: 10px;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cmd-list {
    overflow-y: scroll;
    align-self: stretch;
}
