.main-cmds {
    overflow: hidden;
    height: calc(100% - #{$nav-height});
    display: flex;
}

.cmd-editor {
    padding: 10px;
    width: 100%;
}

.cmd-menu {
    border-radius: 5px;
    padding: 10px;
    min-width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cmd-filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cmd-options {
    display: flex;
    .star, .lock {
        align-self: center;
        margin: 0 5px;
        display: block;
    }
}

.cmd-list {
    overflow-y: scroll;
    align-self: stretch;
}
