.document {
    max-width: 800px;
    padding: 40px 20px;
    margin: 0 auto;
    @media only screen and (max-width: 650px) {
        padding: 10px;
    }
    pre {
        white-space: pre-wrap;
    }
    code {
        color: #639;
        font-style: italic;
    }
}
