@import './variables';
@import './typography';
@import './document';
@import './codemirror';
@import './menu';
@import './cmds';
@import './stats';

html, body, input, button, select {
    font-family: Hack, monospace;
    font-size: 14px;
    line-height: 1.15;
    margin: 0;
    box-sizing: border-box;
    overflow-anchor: none;
}

a {
    color: $brand;
    text-decoration: none;
    font-weight: 700;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1 {
    position: fixed;
    top: 0px;
    left: 5px;
    font-size: 18px;
    font-weight: 700;
    color: $green;

    @media only screen and (max-width: 780px) {
        display: none;
    }
    .heart {
        color: $red;
    }
    .jr {
        color: $brand;
    }
}

h2, h3, h4, h5, h6 {
    color: $red;
}

button {
    background-color: $brand;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 2px;
    color: white;
    font-weight: 700;
    min-width: 80px;
}

.star {
    color: $green;
    font-size: 16px;
    line-height: 1;
}

.event {
    color: steelblue;
    font-size: 10px;
}

.checkbox {
    border: 2px solid $brand;
    border-radius: 2px;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    path {
        fill: $brand;
    }
}

.select {
    position: relative;
    background-color: $brand;
    border-radius: 2px;
    border: 2px solid $brand;
    width: 180px;
    .arrow {
        fill: white;
        position: absolute;
        right: 5px;
        top: 5px;
        pointer-events: none;
    }
    select, .input {
        padding: 2px;
        margin: 0;
        width: 100%;
        border: none;
        background-color: $brand;
        color: white;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        outline-color: $green;
    }
}

input {
    background-color: $brand;
    color: white;
    padding: 10px;
    border: 0;
    border-radius: 2px;
    width: 100%;
    margin-bottom: 10px;
}

hr {
    border-radius: 2px;
    border-bottom: 5px solid $brand;
}

input::placeholder {
    font-weight: 400;
    font-style: italic;
    color: white;
    opacity: 0.6;
}

.nibblr {
    opacity: 0.125;
    filter: grayscale(100%);
    pointer-events: none;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
}

main {
    position: absolute;
    margin-top: 0;
    top: $nav-height;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
}
