@import './variables';
@import './typography';
@import './menu';

html, body, input, button {
    font-family: Hack;
    font-size: 14px;
    margin: none;
}

a {
    color: $brand;
    text-decoration: none;
    font-weight: 700;
}

h1 {
    position: fixed;
    top: 0px;
    left: 5px;
    font-size: 18px;
    @media only screen and (max-width: 650px) {
        display: none;
    }
    color: limegreen;
    .heart {
        color: $red;
    }
    .jr {
        color: $brand;
    }
}

.nibblr {
    opacity: 0.125;
    filter: grayscale(100%);
    pointer-events: none;
    position: absolute;
    right: 0;
    bottom: 0;
}

.main-docs {
    position: absolute;
    top: $nav-height;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
}

.docs {
    max-width: 800px;
    padding: 40px 20px;
    margin: 0 auto;
    @media only screen and (max-width: 650px) {
        padding: 10px;
    }
    pre {
        white-space: pre-wrap;
    }
}
