.menu {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: white;
    justify-content: center;
    border-bottom: 5px solid $brand;
    a {
        display: block;
        font-size: 20px;
        padding: 10px 40px;

        transition: padding 0.2s ease;
        @media only screen and (max-width: 650px) {
            padding: 10px;
        }

        &.active {
            background-color: $brand;
            color: white;
        }
    }
}
