html, input, button {
    font-family: 'Inconsolata', monospace;
}

*:focus {
    outline: none;
}

$menuHeight: 40px;

nav {
    height: $menuHeight;
    overflow: hidden;
}

h1 {
    margin: 0;
}

.command-list, .editor {
    overflow-y: scroll;
    height: calc(100vh - #{$menuHeight})
}

.command-list {
    padding: 5px;
}

.login {
    outline: none;
    border: none;
    background-color: transparent;
    padding: 2px;
    margin: 2px 5px;
}

.items-grow > * {
    flex-grow: 1;
    flex: 1;
}

.nibblr {
    opacity: 0.3;
    filter: grayscale(100%);
}
