html, input[type=text] {
    font-family: 'Inconsolata', monospace;
}

:focus {
    outline: none;
}

main {
    box-sizing: border-box;
}

.command-list, .editor {
    overflow-y: scroll;
    height: 100vh;
}

.command-list {
    padding: 5px;
}
