
.stats-container {
    &.loading {
        pointer-events: none;
        opacity: 0.8;
        filter: grayscale(100%);
    }
    transition: filter 0.3s, opacity 0.3s;
}

.stats {

    padding-top: 60px;
    max-width: 1000px;
    margin: 0 auto;

    // svg stuff
    .bar {
        fill: $green;
    }
    .axis path, .tick line {
        stroke: $red;
        stroke-width: 5px;
    }
    text {
        font-family: Hack;
    }
    .line {
        fill: none;
        stroke: $green;
        stroke-width: 3;
    }
    .dot {
        fill: $brand;
    }

    // common

    .title {
        margin: 0 16px 16px 0;
        text-align: right;
    }

    .row {
        display: flex;
        margin-bottom: 40px;
    }

    // layout

    .half {
        width: 50%;
    }

    .base {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 25px;
        padding-top: 0;
        .uptime {
            margin-top: 8px;
            h4 {
                display: inline;
            }
        }
    }

    .command-chart {
        width: 75%;
    }

    @media only screen and (max-width: 780px) {
        .command-chart, .base {
            width: auto;
        }
        .row {
            display: block;
        }
        .half {
            width: initial;
        }
    }

    // factoids

    .factoids {
        text-align: center;
        font-size: 22px;
        padding: 0 10px;
    }

    .name {
        font-weight: 700;
    }

    .fact-type {
        color: $red;
        font-weight: 900;
    }
}

.stats-filter {
    display: flex;
    margin: 10px auto;
    justify-content: center;
    font-weight: 700;
    position: fixed;
    width: 100%;
    top: $nav-height;
    left: 0;
    right: 0;
    z-index: 10;
    .select {
        margin: 0 5px;
    }
}

.stats-forcesim {
    & > h4 {
        padding-left: 25px;
        padding-top: 20px;
    }
    & > span {
        padding-left: 50px;
        padding-bottom: 20px;
        display: block;
    }
    .sim {
        border-top: 5px solid $red;
        position: relative;
    }
    .hud {
        position: absolute;
        top: 25px;
        left: 27px;
    }
    .canvas {
        overflow: hidden;
    }
}
