.stats {
    .bar {
        fill: $green;
    }
    .axis path, .tick line {
        stroke: $red;
        stroke-width: 5px;
    }
    text {
        font-family: Hack;
    }
    .line {
        fill: none;
        stroke: $green;
        stroke-width: 3;
    }
    .dot {
        fill: $brand;
    }
}
